			#cover h2 {
				margin: 120px 0 0;
				color: #FFF;
				text-align: center;
				font-size: 70px;
			}

			#cover p {
				margin: 10px 0 0;
				text-align: center;
				color: #FFF;
				font-style: italic;
				font-size: 20px;
			}

			#cover p a {
				color: #FFF;
			}

.slide.slide__yelow {
	background: #f1c40f;

}

.slide.slide__yelow h2, .slide.slide__yelow p{
	color:white;
}
.slide.slide__small_font{
	font-size:16px;
}

.slide--flex{
	padding-bottom: 40px;
}

/* float */
.float__container{
	background: #3498db;
}

.float__item{
	padding: 20px;
}

.float__item--left{
	float:left;
	background: #16a085;
}

.float__item--right{
	float: right;
	background: #9b59b6;
}

/* float */


/*flexbox*/

.just-container{
	counter-reset: list;
}

.flexbox{
	background: #ecf0f1;
	display: flex;
	counter-reset: list;
	min-height: 100%;
}

.flexbox--justify-center{
	justify-content: center;
}

.flexbox--justify-end{
	justify-content: flex-end;
}

.flexbox--justify-space-between{
	justify-content: space-between;
}

.flexbox--justify-space-around{
	justify-content: space-around;
}

.flexbox--align-items-start{
	align-items: flex-start;
}
.flexbox--align-items-center{
	align-items: center;
}

.flexbox--align-items-end{
	align-items: flex-end;
}

.flexbox--item-odd-align-start .item:nth-child(even){
	align-self: flex-start;
}

.flexbox--auto-height{
	min-height: auto;
}

.flex--wrap-reverse{
	flex-wrap: wrap-reverse;
}

.flexbox--wrap{
	flex-wrap: wrap;
}

.flex--direction-row-rewerse{
	flex-direction:row-reverse;
}

.flex--direction-column-rewerse{
	flex-direction:column-reverse;
}
.item {
	padding: 10px;
	margin: 10px;
	background: #3498db;
}

.item.item--min-width{
	min-width: 200px;
}

.item.item--basis{
	flex-basis: 200px;
}

.item::before{
	color:white;
	counter-increment: list;
	content: counter(list);
}

.item--align-self-start{
	align-self: flex-start;
}

.item--grow{
	flex-grow: 1;
}

.item--grow-3{
	flex-grow: 3;
}

.item--grow-1{
	flex-grow: 1;
}

.page-container{
	display:flex;
	flex-wrap:wrap;
	color:white;
}

.header {
	background:#2ecc71;
}
.main{
	background: #3498db;
}
.aside.aside-1 {
	background:#9b59b6;
}
.aside.aside-2 {
	background:#f1c40f;
}
.footer-page {
	background:#c0392b;
}

.header, .main, .nav, .aside, .footer-page {
  flex: 1 100%;
}
.main{
	flex:3 0px;
}
.aside{
	flex:1 auto;
}

.aside-1 { order: 1; }
.main    { order: 2; }
.aside-2 { order: 3; }
.footer-page  { order: 4; }

@media all and (max-width: 800px) {
  	.main{
	  	flex: 1 auto;
  	}

	.main    { order: 1; }
	.aside-2 { order: 2; }
	.aside-1 { order: 3; }
	.footer-page  { order: 4; }
}

.item:first-child{
	background: #16a085;
}

.item:last-child{
	background: #9b59b6;
}


.row{
	display: flex;
	margin-bottom:15px
}

.col{
	background: #16a085;
	min-height: 75px;
	margin:0 16px;
	text-align: center;
	flex-basis: 0;
	flex-grow: 1;
}

.col-8{
	flex-basis: calc(8/12 * 100%);
	max-width: calc(8/12 * 100%);
}
/*flexbox*/



.grid-page-container{
	min-height: 90%;
 	display: grid;
    grid-template-columns: 100px 1fr 200px;
    grid-template-rows: 50px 1fr 50px;
	color:#fff;
}

.grid-header {
	background:#2ecc71;
	grid-column: 1 / 4;
	grid-row:1/2

}
.grid-main{
	background: #3498db;

}
.grid-aside.grid-aside-1 {
	background:#9b59b6;

}
.grid-aside.grid-aside-2 {
	background:#f1c40f;

}
.grid-footer-page {
	background:#c0392b;
	grid-column: 1 / 4;
	grid-row:3/4
}

.grid-page-container-area{
    grid-template-columns: 100px 1fr 50px 200px;
    grid-template-rows: 50px 1fr 50px;
	grid-template-areas: 
		"header header header header"
		"aside-1 main . aside-2"
		"footer footer footer footer";
}
.grid-page-container-area .grid-header {
  grid-area: header;
}
.grid-page-container-area .grid-main{
  grid-area: main;
}
.grid-page-container-area .grid-aside.grid-aside-1 {
  grid-area: aside-1;
}

.grid-page-container-area .grid-aside.grid-aside-2 {
  grid-area: aside-2;
}

.grid-page-container-area .grid-footer-page {
  grid-area: footer;
}
